.git
.git2
.gitignore
.github
.vscode

.env
.env.*
*.log
.phpunit.result.cache

node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

vendor

public/build
public/fonts
public/themes/**/build

storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views

bootstrap/cache

tests
packages/**/tests
docs
*.md

.DS_Store
