# Ignore everything by default
**

# Allow only what we need to build/run Laravel+Bagisto
!app/**
!bootstrap/**
!config/**
!database/**
!packages/**
!public/**
!resources/**
!routes/**
!lang/**

!artisan
!composer.json
!composer.lock
!package.json
!package-lock.json
!vite.config.*
!phpunit.xml

!Dockerfile
!.dockerignore
